<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- OpenGraph/Social sharing -->
<meta name="description" content="Links to info about Rockfish the band" />
<meta property="og:image" content="{{ settings.metaImage }}" />
<meta property="og:title" content="Rockfish"/>
<meta property="og:description" content="Links to info about Rockfish the band"/>
<meta name="twitter:image" content="{{ settings.metaImage }}" />
<meta name="twitter:player" content="https://www.rockfish.band/" />
<meta name="twitter:card" content="player" />
<meta name="twitter:player:width" content="480" />
<meta name="twitter:player:height" content="480" />
<meta name="twitter:title" content="Rockfish" />
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
