<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- OpenGraph/Social sharing -->
<meta name="description" content="{{ settings.metaDescription }}" />
<meta property="og:image" content="{{ settings.metaImage }}" />
<meta property="og:title" content="Sue Smith links"/>
<meta property="og:description" content="Links to Sue Smith stuff"/>
<meta name="twitter:image" content="{{ settings.metaImage }}" />
<meta name="twitter:player" content="https://suesmith.dev/" />
<meta name="twitter:card" content="player" />
<meta name="twitter:player:width" content="480" />
<meta name="twitter:player:height" content="480" />
<meta name="twitter:title" content="Sue Smith" />
<link rel="icon" href="gib.ico" />
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
